{% extends 'base_template.html' %}
{% load staticfiles %}


<!-- All this navigation and other repeated content should live in base_template.html. The point of that file
is that it holds all your repeated code, so you don't have to repeat it in each file.
-->
{% block content %}

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>


   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


         <a class="navbar-brand" href="{% url 'register' %}">Register</a>
         <a class="navbar-brand" href="{% url 'aboutus' %}">About us</a>
         <a class="navbar-brand" href="{% url 'login' %}">Sign in</a>



        </div>

        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
    </form>

    </div>
    </div>
    </div>

<br>
<br>
<br>


        <!-- Styling should be done in external CSS or LESS files unless there is some overwhelming reason not to do so -->
        <div style="padding: 10px; background-color: white"><h1 style="text-align: center; font-family: serif">
        Petsie.com
        </h1>
            <div class="Here" style="padding-left: 50%; font-family: papyrus; font-size: 20px; color: ">Here for your pets</div>
        </div>


        <br>



{% endblock content %}


{% block footer %}



{% endblock footer %}
