{% extends 'base_template.html' %}
{% load staticfiles %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>



   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">


        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

         {% if user.is_authenticated %}
         <a class="navbar-brand"> Welcome {{user.first_name}} </a>
         <a class="navbar-brand" href="{% url 'aboutus' %}">About us</a>
         <a class="navbar-brand" href="{% url 'logout' %}">Sign Out</a>


         {% else %}
         <a class="navbar-brand" href="{% url 'register' %}">Register</a>
         <a class="navbar-brand" href="{% url 'aboutus' %}">About us</a>
         <a class="navbar-brand" href="{% url 'login' %}">Sign in</a>

         {% endif %}



        </div>

        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
    </form>

    </div>
    </div>
    </div>


        <div class="Petsie_bar" style="padding: 10px; background-color: white">
            <h1 style="text-align: center; font-family: serif"> Petsie
        </h1>
        <div class="Here" style="padding-left: 50%; font-family: papyrus; font-size: 20px">Find the right care for your pet</div>
        </div>




{##}
{#    <div class="container">#}
{#	<div class="row">#}
{#        <div class="span12">#}
{#    		<div class="" id="loginModal">#}
{#              <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
{#                <h3>Have an Account?</h3>#}
{#              </div>#}
{#              <div class="modal-body">#}
{#                <div class="well">#}
{#                  <ul class="nav nav-tabs">#}
{#                    <li class="active"><a href="#login" data-toggle="tab">Login</a></li>#}
{#                    <li><a href="#create" data-toggle="tab">Create Account</a></li>#}
{#                  </ul>#}
{#                  <div id="myTabContent" class="tab-content">#}
{#                    <div class="tab-pane active in" id="login">#}
{#                      <form class="form-horizontal" action='' method="POST">#}
{#                        <fieldset>#}
{#                          <div id="legend">#}
{#                            <legend class="">Login</legend>#}
{#                          </div>#}
{#                          <div class="control-group">#}
{#                            <!-- Username -->#}
{#                            <label class="control-label"  for="username">Username</label>#}
{#                            <div class="controls">#}
{#                              <input type="text" id="username" name="username" placeholder="" class="input-xlarge">#}
{#                            </div>#}
{#                          </div>#}
{##}
{#                          <div class="control-group">#}
{#                            <!-- Password-->#}
{#                            <label class="control-label" for="password">Password</label>#}
{#                            <div class="controls">#}
{#                              <input type="password" id="password" name="password" placeholder="" class="input-xlarge">#}
{#                            </div>#}
{#                          </div>#}
{##}
{##}
{#                          <div class="control-group">#}
{#                            <!-- Button -->#}
{#                            <div class="controls">#}
{#                              <button class="btn btn-success">Login</button>#}
{#                            </div>#}
{#                          </div>#}
{#                        </fieldset>#}
{#                      </form>#}
{#                    </div>#}
{#                    <div class="tab-pane fade" id="create">#}
{#                      <form id="tab">#}
{#                        <label>Username</label>#}
{#                        <input type="text" value="" class="input-xlarge">#}
{#                        <label>First Name</label>#}
{#                        <input type="text" value="" class="input-xlarge">#}
{#                        <label>Last Name</label>#}
{#                        <input type="text" value="" class="input-xlarge">#}
{#                        <label>Email</label>#}
{#                        <input type="text" value="" class="input-xlarge">#}
{#                        <label>Address</label>#}
{#                        <textarea value="Smith" rows="3" class="input-xlarge">#}
{#                        </textarea>#}
{##}
{#                        <div>#}
{#                          <button class="btn btn-primary">Create Account</button>#}
{#                        </div>#}
{#                      </form>#}
{#                    </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#        </div>#}
{#	</div>#}
{#</div>#}


{% endblock content %}


{% block footer %}



{% endblock footer %}