{% extends 'base_template.html' %}
{% load staticfiles %}




{% block my_title %}
PROFILE PAGE
{% endblock my_title %}

{% block content %}


    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>

{#    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>#}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}"/>


{#    <link rel="stylesheet" type="text/css" href="../static/css/profile.css"/>#}
    <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}"/>




   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
          </button>

         <a class="navbar-brand" href="{% url 'home' %}">Home</a>
         <a class="navbar-brand" href="{% url 'aboutus' %}">About us</a>
         <a class="navbar-brand"> Welcome {{user.first_name}} </a>
         <a class="navbar-brand" href="{% url 'logout' %}">Sign out</a>

        </div>

        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
    </form>

    </div>
    </div>
    </div>


<div class="container1">
    <div class="profile-box">
        <div class="profile-cover-image">
            <img src="{{user.image.url}}" class="coverImageHei">
        </div>
        <div class="profile-picture">
            {% for i in pet %}
            <img src="{{i.pet_image.url}}" class="coverImageH">
            {% endfor %}
        </div>

        <div class="profile-content">
{#            <p class="lead"> {{ user.username }}</p>#}
            <p class="lead"> <strong>Name: </strong> {{ user.first_name }} {{ user.last_name }}</p>
            <p class="lead"> <strong>Address: </strong> {{ user.address }} </p>
            <p class="lead"> {{ user.city }} {{ user.state_abbr }} {{ user.zipcode }}</p>
            <p class="lead"> <strong>Phone Number: </strong> {{ user.phone_number }}</p>
            <p class="lead"> <strong>Email: </strong> {{ user.email }}</p>

            <a href="{% url "edit_profile" user.id %}"><input style="font-family: arial "type="submit" value="Edit Profile" class="btn btn-info btn-lg input-lg form-control"></a>


<br>
<br>



{#        if statemeent for if pet.count>0#}
            {% for i in pet %}
            <p class="lead"> <strong>Name:</strong>  {{ i.name }} </p>
            <p class="lead"> <strong>Age:</strong>  {{ i.age }}</p>
            <p class="lead"> <strong>About your pet:</strong></p>
            <p class="lead">{{ i.description }}</p>
            {% endfor %}



{#            {% ifequal random_profile_owner.id profile_owner.id %}#}

            {% ifequal user.usertype owner %}

                {% if pet %}
                    <a href="{% url "edit_pet_profile" user.id %}"><input style="font-family: arial "type="submit" value="Edit Pet Profile" class="btn btn-info btn-lg input-lg form-control"></a>
                    <a href="{% url "pet_owners" %}"><input style="font-family: arial; margin:5px;" type="submit" value="View Local Pet Sitters" class="btn btn-info btn-lg input-lg form-control"></a>


                {% else %}
                    <a href="{% url "upload_pet_profile" %}"><input style="font-family: arial "type="submit" value="Upload Pet Profile" class="btn btn-info btn-lg input-lg form-control"></a>
                    <a href="{% url "pet_owners" %}"><input style="font-family: arial; margin:5px;" type="submit" value="View Local Pet Sitters" class="btn btn-info btn-lg input-lg form-control"></a>

                {% endif %}

            {% endifequal %}

{#            {% if user.usertype owner %}#}
{#                #}
{#            {% endi %}#}

            

            <br>


        </div>
    </div>
</div>

{% endblock content %}
