

body {

    background:url('../img/petfamily.jpg') no-repeat center center fixed;
    background-size: 100%;

}

/*.askLabel {*/
    /*margin:0 0 1px; min-height:18px;*/
/*}*/

.navbar-brand {
    float: left;
}


.Petsie_bar{
    position: relative;
    top: 45px;

}